<h1>New Developer</h1>
<%= form_for @developer do |f| %>
  <!-- Developer Name -->
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <!-- Developer Title -->
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <!-- Developer Hourly Rate -->
  <%= f.label :hourly_rate %>
  <%= f.text_field :hourly_rate %><br>
  <!-- Developer Jobs -->
  <%= f.label :jobs %>
  <%= f.text_field :jobs %><br>
  <!-- Submit -->
  <%= f.submit %>
<% end %>
